{
  "target_configuration": {
    "touchgfx_path": "../Middlewares/ST/touchgfx",
    "family": "STM32F7",
    "sub_family": "STM32F7x6",
    "toolchain": "STM32CubeIDE",
    "platform": "m7",
    "project_file": "../STM32F746G_DISCO.ioc",
    "optional_components_root": "../Middlewares/ST/touchgfx_components",
    "optional_components": [],
    "additional_features": [
      "Vector",
      "Video"
    ]
  }
}